button {
    margin-left: 5px;
    padding: 3px;
    cursor: pointer;
}
.addtask-btn {
    color: orange;
    }
.completebtn{
    background-color:seagreen;
}
.deletebtn{
    background-color: indianred;
}
.deletecompletedbtn{
    background-color: indianred;
}
