li {
    margin-top: 10px;
}
li > button {
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(202, 87, 87);
    color: azure;
}
.completebtn {
    background-color: green ;
}
li > span {
    color: aliceblue;
}
.completedtasklist {
    float: right;
    margin-right: 20%;
}