* {
    background: rgb(80, 80, 219);
}
.titleHeading {
    margin-top: 35px;
    text-align: center;
    color: rgb(15, 10, 43);
}
.todolist-bar {
    margin: 80px 0px 0px 50px;
}
.input-text {
    width: 15%;
    color: aliceblue;
}
.addtask-btn {
margin-left: 10px;
cursor: pointer;
color: azure;
}
.shownlists {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
li {
    margin-top: 10px;
}
li > button {
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(202, 87, 87);
    color: azure;
}
.completebtn {
    background-color: green ;
}
li > span {
    color: aliceblue;
}
